<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGL</title>
    <link rel="stylesheet" th:href="@{/css/principal.css}">
</head>

<body>
    <header class="header">
        <nav class="nav-links">
            <a th:href="@{/}" class="disabled">Home</a>
            <a th:href="@{/cadastro}">Cadastro</a>
            <a th:href="@{/listagem}">Lista</a>
            <a th:href="@{/sobre}">Sobre</a>
        </nav>
    </header>

    <div class="background">
        
    </div>
</body>

</html>
